html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: $font-med;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.3;
    overflow-x: hidden;

    @include breakpoint-up(large) {
        font-size: $font-lg;
    }

    &.noscroll {
        overflow: hidden;
    }

}

// Text
h1, h2, h3 {
    font-weight: 300;
    font-size: 2.31rem;
    line-height: 1.15;
    color: $offblack;
    margin-top: 0px;
}

h1 {
    margin-bottom: 1.5rem;

    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}

h2 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;

    @include breakpoint-up(large){
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

// Spacing
.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--pyx {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--py {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }

    &--px {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--pt {
        padding-top: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
        }
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pb {
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-bottom: 6rem;
        }
    }

    &--pl {
        padding-left: 1.5rem;
    }
}

// Flexbox styles
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

}

// Buttons
button,
.button {
    display: inline-block;
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $azure, $brightCyan);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: $white;
    font-weight: 400;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out;
    opacity: 1;

    &:hover {
        opacity: 0.75;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }

}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

// ID selectors
#portrait {
    background-position: center 35%;
}

#chatle {
    z-index: 0;
    background-size: 100% 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#chatlecover {
    background-size: 110%;
    background-position: center 10%;
}

#fairwinds {
    background-size: 90%;
}

#cleansneakscover {
    background-position: 60% center;
}

#smokey {
    background-position: 60% center;
}

#fbposter {
    background-position: center 16%;
    background-size: 100%;
}

#wireframepc {
    background-position: center 0%;
    background-size: 100%;
}

#graylink {
    color: $grayishBlue;
}

#footerlinks {
    height: 1.25rem;
    width: 1.25rem;
}

#iconsize {
    height: 5rem;
    width: 5rem;
}