.hero {
    background-color: $veryLightGray;

    .container {

        @include breakpoint-up(large) {
            display: flex;
            align-items: center;
        }
    }

    &__image {
        position: relative;
        background-image: url(../images/bg-hero-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breakpoint-up(medium) {
            min-height: 25rem;
            background-position: center 60%;
        }

        @include breakpoint-up(large) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
            //background-image: url(../images/bg-hero-desktop.svg);
            //background-position: left center;
        }

        &::before {


            @include breakpoint-up(large) {
                content: "";
                position: absolute;
                height: 100%;
                background-image: url(../images/bg-hero-desktop2.svg);
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 500%;
                background-size: 50%;
                background-position: 16% 100%;
            }
        }

        &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url(../images/hero-portrait.svg);
            background-size: 69%;
            background-repeat: no-repeat;
            background-position: 50% 40%;

            @include breakpoint-up(medium) {
                background-size: 45%;
                background-position: center 40%;
                height: 100%;
                width: 100%;
            }

            @include breakpoint-up(large) {
                height: 125%;
                width: 100%;
                background-size: 100%;
                background-position: inherit;
                
            }
        }
    }

    &__text {
        text-align: center;

        @include breakpoint-up(large) {
            flex: 2;
            order: 1;
            text-align: left;
        }
    }
}