// Colors
$offblack: hsl(0, 0%, 5%);
$azure: hsl(197, 89%, 40%);
$brightCyan: hsl(186, 96%, 38%);
$grayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; // 20px
$font-xlg: 3.125rem; // 50px